.vs/
MyFirstEShop/obj/
MyFirstEShop/bin/
MyFirstEShop/wwwroot/fontawesome-free-5.15.3-web/
MyFirstEShop/wwwroot/lib/bootstrap-v4-rtl-master/
MyFirstEShop/Migrations/
MyFirstEShop/wwwroot/ProductCovers/
MyFirstEShop/Properties/PublishProfiles/
