

<div class="row">

    <div class="col-md-3">
        <div class="Box bg-White shadows" style="text-align:center;">
            <img src="https://i.pinimg.com/600x315/80/63/35/8063359effd01b990e653bb32a83485d.jpg"
                 style="width: 200px; height: 200px; border-radius: 50%; background-position: center;" />
            <hr />
            <nav>
                <ul style="list-style: none; margin: 0; padding: 0;">
                    <li class="SettingBtn" onclick="SettingMenu(panel1)"> <a>داشبورد</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel2)"><a>تغییر اطلاعات شخصی</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel3)"><a>ویرایش تنظیمات حساب</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel4)"><a>فاکتور های من</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel5)"><a>تغییر رمز</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel6)"><a>لیست دوره های من</a></li>
                    <li class="SettingBtn" onclick="SettingMenu(panel7)"><a>تیکت</a></li>
                    <li class="li-btn btn-danger "><a style="margin: 5px;">حذف حساب</a></li>
                    <li class="btn-secondary li-btn"><a style="margin: 5px;">خروج</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="Group-Panel-Setting col-md-8 Box shadows bg-White-Gradian" style="border-radius: 20px;margin-right:10px;">
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel1">
            @await Component.InvokeAsync("UserSetting_Dashboard", int.Parse(User.FindFirst("UserId").Value))
        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel2">
            @await Component.InvokeAsync("ChangeUserInfo", int.Parse(User.FindFirst("UserId").Value))
        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel3">

        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel4">

        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel5">


        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel6">


        </div>
        <div class="offset-2 col-md-8 Panel-Setting user-hide" id="panel7">

        </div>
    </div>

</div>
