
@model ResetPasswordViewModel

<div class=" col-12 col-md-12 offset-lg-2 col-lg-8  Box bg-White-Gradian bg-testCol shadows" style="margin:20vh auto;">

    <form class="CForm" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="alert alert-success ">
            <h5>کاربر گرامی لطفا ایمیل مورد نظر خود را برای بازیابی پسورد در کادر زیر به درستی وارد نمایید</h5>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input placeholder="ایمیل خود را وارد نماید" asp-for="Email" class="form-control border-bottom-blue" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="ثبت" class="btn btn-success" style="display: block; margin: 0 auto; width: 40%; font-size: 1.3rem;" />
        </div>

    </form>

</div>