@model MyFirstEShop.Models.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "تنظیم پسورد جدید";
}


<div class=" col-12 col-md-12 offset-lg-2 col-lg-8  Box bg-White-Gradian bg-testCol shadows">
    <div class="offset-md-2 col-md-8 Box bg-White-Gradian">
        <h1>پسورد جدید خود را وارد نمایید</h1>

        <hr />

        <form class="CForm" asp-action="SetNewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.Error != null)
            {
                <div class="col-12 alert alert-dismissible alert-danger">
                    <strong>@Model.Error</strong>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RePassword" class="control-label"></label>
                    <input asp-for="RePassword" class="form-control" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn btn-primary" />
                </div>

                <input type="hidden" asp-for="Token" />
            }


        </form>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
