
@{
    ViewData["Title"] = "تماس با ما";
}

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header" >راه های ارتباطی ما</div>
            <div class="card-body" style="text-align:justify;">
                <ul>
                    <li><span class="badge badge-primary display-3">نام سازنده  </span> حسین شمس پویا</li>
                    <li><span class="badge badge-primary display-3">شماره تماس </span> 091234567890</li>
                    <li><span class="badge badge-primary display-3">آیدی تلگرام </span> <a href="https://t.me/hopouya">hopouya</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h3 class="display-4">سلام به اولین پروژه فروشگاهی من خوش آمدید</h3>
            <p class="lead">این یک صفحه نمایشی و تستی است که در اینده تکمیل میگردد</p>
            <hr class="my-4">
            <p>برای دریافت توضیحات بیشتر در لینک زیر کلیک کنید</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index" role="button">بیشتر بدانید</a>
            </p>
        </div>
    </div>
</div>

