@model HomeModelView

@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row Box bg-White shadows" style="margin-bottom:10px;">
    <div class="col-12" style="background-color:white;padding:10px; text-align:center;">
        <h1 class="display-5">سلام به فروشگاه ما خوش آمدید</h1>
    </div>
</div>



<div class="row Box bg-White shadows" style="border-radius: 20px;">

    <div class="col-12 d-flex justify-content-between">
        <h2>محصولات جدید</h2>
        <a href="#" style="color:black;"><i class="fas fa-plus"></i> موارد بیشتر  </a>

    </div>

    @foreach (var item in Model.Products)
    {
        <div class="col-3 HoverShadow" style="border-radius: 20px; padding: 10px;">
            <div class="bs-component">
                <div class="card" style="border-radius: 20px;">
                    <img class="card-img-top thumbnail-img" src="~/images/@(item.Id).jpg" alt=@(item.Name) title=@(item.Name) />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <hr />
                        <p class="card-text">برای دیدن توضیحات کلیک کنید </p>
                        <a class="btn btn-outline-info shadows" asp-controller="Home" asp-action="Detail" asp-route-ProductId="@item.Id" style="color:black;">ادامه توضیحات</a>
                    </div>
                </div>
            </div>
        </div>
    }


</div>

