@{
    ViewData["Title"] = "افزودن محصول جدید";
}

@model ProductViewModel

<h1 class=" col-12">لطفا برای افزودن محصول خود فرم زیر را پر کنید</h1>

<hr class="offset-1 col-10" />
<form class="CForm offset-md-2 col-md-8 col-12" asp-area="Teacher" asp-action="AddNewProduct"
    asp-controller="Home" method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <img class="mb-4 p-4 ControlImgeProduct" id="output_image" style="width:100%;" />

    <div class="custom-file">

        <input type="file" asp-for="ProductImage" class="custom-file-input" id="btnProductCover" accept=".jpg,.png"
            onchange="preview_image(event)" />
        <label asp-for="ProductImage" class="custom-file-label ControlProductInput"></label>
        <span asp-validation-for="ProductImage"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control ControlProductInput" style="border-radius: 10px;" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="ControlProductDivInput">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control ControlProductInput" style=" border-radius: 50px;" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="ControlProductDivInput">
        <label asp-for="DiscountPercent" class="control-label"></label>
        <input asp-for="DiscountPercent" class="form-control ControlProductInput" style=" border-radius: 50px;" />
        <span asp-validation-for="DiscountPercent"></span>
    </div>

    <div class="ControlProductDivInput">
        <label asp-for="CourceLevel" class="control-label d-block"></label>
        <select class="form-control d-block ControlProductInput" asp-for="CourceLevel"
            asp-items="Html.GetEnumSelectList<CourcesLevel>()" style="border-radius: 50px;">
        </select>
        <span asp-validation-for="CourceLevel"></span>
    </div>

    <div class="ControlProductDivInput">

        <label class="control-label d-block">لیست دسته بندی ها</label>
        <select multiple asp-for="SelectedCategoriesId" id="SELECT" class="d-block w-100"
            style="font-size: larger;border-radius: 50px;">
            @foreach (var category in Model.Categories)
            {
                <option value=@category.Id>
                    @category.Name
                </option>
            }
        </select>

    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control ControlProductInput"
            style="height:300px;border-radius: 10px;"></textarea>
        <span asp-validation-for="Description"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="ثبت" class="btn btn-primary" />
        <input type="button" value="انصراف" class="btn btn-danger" asp-area="Teacher" asp-action="Index"
            asp-controller="Home" />
    </div>

</form>



@section Scripts {


<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        $('#SELECT').select2();
    });
</script>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist  mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name'
    });
</script>


}
