
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: #ECF0F1;
    font-family: 'B Nazanin';
    font-weight: bolder;
    overflow-x: hidden;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.UserAccountBox {
    /*width: 220px;
    height: 110px;*/
    /*border-radius: 20px;*/
    padding: 10px;
    /*transition: width ease-in 1500ms, height ease-in 1500ms;*/
}

    /*    .UserAccountBox:hover {
        width: 220px;
        height: 150px;
    }*/

    .UserAccountBox::after, .UserAccountBox::before {
        content: " ";
        display: table;
    }

UserAccountBox::after {
    clear: both;
}

div#SlidBar {
    position: absolute;
    right: 0;
    background-color: red;
    height: 100%;
    width: 0;
    z-index: 100;
    transition: width 2500ms;
    transition-timing-function: ease-out;
}

#Background-SlidBar {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1000;
    transition: opacity 2500ms;
    background-color: black;
}

main {
    transition: all 2500ms;
}

div.Contaner {
    display: block;
    position: relative;
    width: 25vw;
    /*height: 65vh;*/
    height: auto;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
}

.Box {
    border-radius: 20px;
    padding: 20px 10px;
}


button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}




.thumbnail-img {
    display: block;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 25px;
}

.fa-plus {
    color: #48C9B0;
}

/*Color Style
-----------------------------------------------------------------------------------
*/

.bg-White {
    background-color: #FFFFFF;
}

.bg-Blue-Gradian {
    background-image: linear-gradient(to right, #87bace, #1688B6);
}

.bg-White-Gradian {
    background-image: linear-gradient(to right, #F2F3F4,#FFFFFF );
}

.bg-Blue-Dark {
    color: #F7F9F9;
    background-color: #154360;
}

.bg-Green {
    color: #34495E;
    background-color: #58D68D;
}



/*End Color Style
-----------------------------------------------------------------------------------
*/


.border-bottom-blue {
    border-bottom: 1px solid #1688B6;
    border-left: none;
    border-top: none;
    border-right: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.HoverShadow:hover {
    box-shadow: 5px 5px 5px #A6ACAF;
}

.shadows {
    box-shadow: 3px 6px 7px -3px #b3b6ac;
}


h3.FormLoginTitle {
    margin-bottom: 1em;
}

    h3.FormLoginTitle > span {
        color: #0f7299;
    }

/*form {
    display: block;
    position: relative;
    width: 100%;
    top: 30px;
}*/


.CForm > input#UserName:focus,
.CForm > input#Email:focus,
.CForm > input#Password:focus {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px #1688B6 solid;
}

.GreenBtn {
    width: 100%;
    margin: 1vh auto;
    padding: 10px 0;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #82E0AA, #1D8348);
}

.CForm > input[type=submit]:hover {
    background-image: linear-gradient(to left, #87bace, #1688B6);
}


label i {
    font-size: 1.4em;
    color: #410e4e;
    padding: 0 4px;
    vertical-align: bottom;
}

div.FormFooter {
    display: block;
    position: relative;
    height: 100px;
}


a {
    display: block;
    text-decoration: none;
    margin-top: 2vh;
    position: relative;
}

    a.ForgetPass {
        font-size: 1em;
        color: rgb(77, 77, 77);
    }

    a.CreateAccount {
        font-size: 0.8em;
        color: rgb(33, 67, 216);
    }




.field-validation-error {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 3% 0;
    text-align: center;
    background-color: rgb(243, 58, 58);
    border-radius: 10px;
}

    .field-validation-error span {
        color: white;
        font-size: 1em;
    }

.li-btn {
    border: 1px #D0D3D4 solid;
    border-radius: 25px;
    margin: 10px;
}

li.SettingBtn {
    border: 1px #D0D3D4 solid;
    border-radius: 25px;
    background-color: #E5E7E9;
    margin: 10px;
}

li.TeacherBtn {
    margin: 1% 0;
    padding: 0;
    display: inline-block;
    border: 1px black solid;
    border-radius: 50px;
}

li.SettingBtn > a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: large;
}

li.TeacherBtn > a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #34495E;
    font-size: large;
}

li.SettingBtn:hover {
    cursor: pointer;
    background-color: #ECF0F1;
}

li.SettingBtn:focus {
    cursor: pointer;
    background-color: #5DADE2;
}

li.TeacherBtnStyl {
    color: black;
    border-top: 1px black solid;
    background-color: #F0F3F4;
}

/*Table Style */

table {
    border-collapse: collapse;
    text-align: left;
}

td {
    /*border-bottom: 3px rgb(28, 34, 51) solid;
    border-right : 3px rgb(28, 34, 51) solid;
    border-radius: 15px;*/
    padding: 5px 0px 5px 15px;
    /*color: rgba(209, 202, 202, 0.719);*/
    width: 200px;
    height: 50px;
    transition: height 2s;
}


span.FirstTd:hover {
    /*font-family: 'Times New Roman', Times, serif;*/
    color: black;
}

tr {
    text-align: center;
}

    tr:nth-child(even) {
        /*background-color: rgb(44, 51, 70);*/
    }

    tr:nth-child(odd) {
        /* background-color: rgb(32, 39, 56);*/
        background-color: #ECF0F1;
    }

    tr:hover {
        background-color: #D0D3D4;
        color: black;
    }

th {
    color: rgb(93, 167, 204);
    background-color: rgb(28, 34, 51);
    width: 200px;
    height: 50px;
    padding: 5px;
    vertical-align: top;
    font-size: x-large;
    text-align: center !important;
}

span.FirstTd {
    color: rgb(192, 91, 115);
}

.bg-Modal {
    float: left;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
}

.ModalStyle {

    width: 50%;
    margin: auto;
    padding: 20px;
    position: sticky;
    top: 100px;
}



/*==========================================*/


.footer {
    position: relative;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.user-hide {
    display: none;
}
