
@{
    ViewData["Title"] = "Dashboard";
}


<div class="row">

    <div class="col-12 bg-White" style="height: 100vh;">
         <h1>ادمین محترم لطفا از منوی سمت چپ یک گزینه را انتخاب نماید.</h1>
    </div>
</div>

