
@model Teacher


<p>نام : @Model.Info.FirstName</p>
<p>نام خانوادگی : @Model.Info.LastName</p>
<p>تعداد دوره های شما : @Model.Products.Count</p>
<p>شماره تماس شما : @(Model.Info.PhoneNumber == null ? "بدون شماره تماس" : Model.Info.PhoneNumber )</p>
